:root {
  --colour-white: hsl(0, 0%, 100%);
  --colour-light-gray: hsl(212, 45%, 89%);
  --colour-grayish-blue: hsl(220, 15%, 55%);
  --colour-dark-blue: hsl(218, 44%, 22%);

  --font-size-main: cR(15px);
}

$bp-small: 23.44em; // 375px

@function cR($size) {
  // $remSize: $size / 16px;
  $remSize: calc($size/ 16px);
  @return #{$remSize}rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  background-color: var(--colour-light-gray);

  @media only screen and (max-width: $bp-small) {
    line-height: 1.1;
  }
}

.main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.qrcode {
  max-width: cR(300px);
  padding: cR(20px);
  background-color: var(--colour-white);
  border-radius: cR(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;

  @media only screen and (max-width: $bp-small) {
    max-width: cR(250px);
    padding: cR(12px);
  }

  &__image {
    width: 100%;
    border-radius: cR(10px);
    margin-bottom: cR(20px);
    @media only screen and (max-width: $bp-small) {
      margin-bottom: cR(15px);
    }
  }
  &__heading {
    color: var(--colour-dark-blue);
    font-size: cR(20px);
    margin-bottom: cR(15px);

    @media only screen and (max-width: $bp-small) {
      font-size: cR(18px);
      margin-bottom: cR(12px);
    }
  }
  &__description {
    font-size: var(--font-size-main);
    color: var(--colour-grayish-blue);
  }
}

.footer {
  font-size: 11px;
  text-align: center;
}
.footer a {
  color: hsl(228, 45%, 44%);
}
